body {
  background: ivory;
}

.App {
  min-width: 320px;
  min-height: 100vh;
  margin: 0 auto;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px;
}

.content-block {
  background-color: white;
  padding: 22px;
}

.title-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position:absolute;
  height: 106px;
}

.title-block .button {
  margin-bottom: 8px;
}

.text-block p {
  margin: 0;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
}

.button {
  font-size: 14px;
  background: white;
  padding: 8px;
  transition: .25s box-shadow linear;
  text-decoration: none;
  color: black;
  border: 2px solid black;
}

.button:hover {
  box-shadow: 4px 4px turquoise;
}

.button:active {
  box-shadow: 2px 2px darkturquoise;
}

.text-block {
  background: #fefefe;
  padding: 14px;
}